body {
  background: #f4f6f7;
}
.container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.headerWrap {
  margin-top: 40px;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_wrapper ul {
  display: flex;
}
.nav_wrapper ul li {
  margin-left: 32px;
}
.nav_wrapper ul li a {
  color: #13253a;
  text-decoration: none;
  font-weight: 600;
}
.main_wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.main_wrap button {
  margin-top: 430px;
  width: 336px;
  height: 60px;
  background-color: #ff7f57;
  color: #ffffff;
  outline: 0;
  border: none;
  font-size: 17px;
  transition: 0.3s ease-in;
}
.main_wrap button:hover {
  background-color: #ffffff;
  color: #ff7f57;
  cursor: pointer;
}
.main_wrap img {
  margin-top: 150px;
  padding-bottom: 178px;
}
.agency_theme {
  background-color: #fff;
}
.agency__wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.services_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_text a {
  text-decoration: none;
  color: #2557ab;
}
.services_text h1 {
  font-size: 38px;
  color: #13253a;
  padding-top: 10px;
  padding-bottom: 40px;
}
.text_boxeswrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}
.text_boxes {
  text-align: center;
  padding-right: 65px;
  padding-left: 15px;
}
.text_boxes h3 {
  font-size: 20px;
  padding-top: 25px;
  font-weight: bold;
}
.text_boxes p {
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  line-height: 27px;
}
