body {
  background: #f4f6f7;
}
.container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.headerWrap {
  margin-top: 40px;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
}
.nav_wrapper ul {
  display: flex;
}
.nav_wrapper ul li {
  margin-left: 32px;
}
.main_wrap {
  display: flex;
  justify-content: space-between;
}
.main_wrap button {
  margin-top: 430px;
  width: 336px;
  height: 60px;
  background-color: #ff7f57;
  color: #ffffff;
}
.main_wrap img {
  margin-top: 150px;
}
